* {
    background-color: rgb(29, 100, 124);
}

.greeting {
    color: red;
    font-size: 50px;
}

.explaining {
    color: blue;
    font-size: 25px;
}

.sayHiButton {
    color: red;
    font-size: 25px;
    border-color: red;
}